html {
  scroll-behavior: smooth;
}
body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
}
ul {
  list-style: none;
  padding-inline-start: 0px;
  margin: 0px;
}
p {
  font-style: normal;
  margin: 0px;
}
a {
  text-decoration: none;
  font-style: normal;
}
h1,
h2,
h3,
h4 {
  margin: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1440px;
  padding-left: 142px;
  padding-right: 142px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER STYLES */
.header-section {
  background-color: #000000;
}
.header {
  display: flex;
  justify-content: flex-end;
  padding-top: 57px;
}
.nav-list {
  display: flex;
}
.nav-link {
  font-weight: 300;
  font-size: 28px;
  line-height: 1.17;
  color: #dcdcdc;
}
.nav-link:hover {
  color: rgba(255, 255, 255, 0.37);
}
.active-link {
  color: rgba(255, 255, 255, 0.37);
  font-weight: 500;
}
.nav-listItem {
  display: block;
  width: 140px;
  height: 53px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-listItem:not(:last-child) {
  margin-right: 60px;
}

/* HERO STYLES */
.hero-section {
  background-color: black;
  /* padding-top: 51px; */
  /* padding-bottom: 73px; */
}
.hero-container {
  margin-right: 0px;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-photo {
  width: 720px;
  height: 709px;
}
.hero-info {
  width: 566px;
}
.hero-title {
  font-weight: 500;
  font-size: 72px;
  line-height: 1.17;
  margin-bottom: 16px;
  color: #ffffff;
  text-transform: uppercase;
}
.hero-caption {
  font-weight: normal;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 93px;
  color: #f3f3f3;
}
.hero-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.015em;
  color: #ffffff;
}
/* PROJECT SECTION STYLES */

.project-section {
  padding-top: 172px;
}
.first-proj-icon {
  position: absolute;
  top: -60px;
  left: 250px;
  width: 125px;
  height: 125px;
  z-index: 2;
}
.second-proj-icon {
  position: absolute;
  top: -60px;
  right: 220px;
  width: 125px;
  height: 125px;
  z-index: 2;
}

.wrapper-left {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.wrapper-left::before {
  content: "";
  position: absolute;
  width: 71px;
  border-bottom: 1px solid #202020;
  right: -71px;
  bottom: 0;
}

.wrapper-right {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.wrapper-right::before {
  content: "";
  position: absolute;
  width: 71px;
  border-bottom: 1px solid #202020;
  left: -71px;
  bottom: 0;
}
.more-btn {
  display: flex;
  /* flex-direction: column; */
  width: 310px;
  height: 43px;
  border: 1px solid #000000;
  color: #000000;
  background-color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.1em;
}
.more-btn:hover {
  border: 3px solid #000000;
  font-weight: bold;
}
.more-btn-right {
  left: auto;
  right: 0;
}
.project-image {
  width: 566px;
}

.project-span {
  display: block;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 1.94;
  letter-spacing: 0.09em;
  color: #5c5b5b;
  padding-bottom: 18px;
}
.project-title {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.065em;
  color: #000000;
  padding-bottom: 30px;
  text-transform: uppercase;
}
.project-info-left {
  position: relative;
  width: 590px;
  padding-top: 37px;
  padding-right: 24px;
}
.project-info-left::after {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  display: block;
  content: "";
  width: 260px;
  height: 100%;
  background-color: #f3f3f3;
}
.project-info-left::before {
  content: "";
  display: block;
  width: 152px;
  position: absolute;
  top: 0;
  right: 0;
  border-top: 1px solid #202020;
}
.project-info-right {
  position: relative;
  width: 590px;
  padding-top: 37px;
  padding-left: 24px;
}
.project-info-right::after {
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 0;
  display: block;
  content: "";
  width: 260px;
  height: 100%;
  background-color: #f3f3f3;
}
.project-info-right::before {
  content: "";
  display: block;
  width: 152px;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 1px solid #202020;
}
.project-subscription-left {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.06em;
  color: #000000;
  word-wrap: break-word;
  padding-left: 142px;
}
.project-subscription-left::before {
  content: "";
  background-color: red;
  width: 94px;
  border-top: 1px solid #202020;
  top: 0;
  left: 0;
  position: absolute;
}
.project-subscription-right {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.06em;
  color: #000000;
  word-wrap: break-word;
  padding-right: 52px;
}
.project-subscription-right::before {
  content: "";
  background-color: red;
  height: 152px;
  border-right: 1px solid #202020;
  top: 0;
  right: 0;
  position: absolute;
}
.slider-section {
  padding-top: 120px;
  padding-bottom: 78px;
  text-align: center;
}
.slider-title {
  display: inline-block;
  position: relative;
  margin-bottom: 77px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 118.4%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.other-proj-icon {
  width: 101px;
  height: 101px;
  position: absolute;
  top: -23px;
  left: -34px;
}
.slider-container {
  width: 1440px;
  padding-left: 23px;
  padding-right: 23px;
  margin-left: auto;
  margin-right: auto;
}
.swiper {
  width: 1400px;
  overflow: visible;
  /* height: 615px; */
}
.swiper-slide {
  width: 448px;
}

.slide-btn {
  display: flex;
  width: 310px;
  height: 43px;
  border: 1px solid #000000;
  color: #000000;
  text-align: center;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.1em;

  width: 100%;
  height: 52px;
  margin-top: 27px;
}
.slide-btn:hover {
  border: 3px solid #000000;
  font-weight: bold;
}
.card-title {
  display: flex;
  height: 120px;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 118.4%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  align-items: center;
}

/* FOOTER */
.footer-section {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
  color: #ffffff;
}
.address-list {
  display: flex;
}
.address-list li {
  width: 330px;
}
.address-list li:not(:last-child) {
  margin-right: 84px;
}
.address-info {
  margin-bottom: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.09em;

  color: #ffffff;
}
.address-link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  text-transform: lowercase;
  align-items: center;

  color: #ffffff;
}
.address-icon {
  margin-right: 14px;
}

.swiper-button-prev {
  background-image: url("./images/slider-nav-left.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 66px !important;
  height: 66px !important;
}

.swiper-button-next {
  position: absolute;
  left: 0;
  background-image: url("./images/slider-nav-right.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 66px !important;
  height: 66px !important;
}

.swiper-button-next::after {
  display: none;
}
.swiper-button-prev::after {
  display: none;
}
/* MODAL */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  background-color: #0000002e;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 5;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: initial;
  z-index: 7;
}
.modal-first {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 1;
  left: 1;
  padding: 80px 100px;
  opacity: 0;
  background-color: #ffffffd9;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-first.modal-open {
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 1;
  top: 50%;
  left: 50%;
  width: 654px;
  height: 510px;
}
.modal-second {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 1;
  left: 1;
  padding: 80px 100px;
  opacity: 0;
  background-color: #ffffffd9;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-second.modal-open {
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 1;
  top: 50%;
  left: 50%;
  width: 654px;
  height: 510px;
}
body.backdrop-open {
  overflow: hidden;
}
