.header-section {
  background-color: #000000;
}
.header {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}
.nav-list {
  display: flex;
}
.nav-link {
  font-weight: 300;
  font-size: 28px;
  line-height: 1.17;
  color: #dcdcdc;

  &:hover {
    color: rgba(255, 255, 255, 0.37);
  }
}
.active-link {
  color: rgba(255, 255, 255, 0.37);
  font-weight: 500;
}
.nav-listItem {
  display: block;
  width: 140px;
  height: 53px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  &:not(:last-child) {
    margin-right: 60px;
  }
}
